@{
    ViewData["Title"] = "WaWa";
}

<div class="text-center">
    <h1 class="display-4">Välkommen</h1>
    <iframe src="https://giphy.com/embed/l4JyOCNEfXvVYEqB2" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/tipsyelves-welcome-high-five-l4JyOCNEfXvVYEqB2"></a></p>
    
    <h3>Secretfinder</h3>
        <input id="domainValue" type="text" name="Domain" placeholder="domain"/>
        <input id="portValue" type="text" name="Port" placeholder="port"/>
        <input type="submit" value="find" onclick="GetSecret()"/>


</div>
